.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
  }

  .modal-overlay::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px);
  }

  .modal-content {
    z-index: 100;
    background-color: rgb(46, 46, 46);
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }

  .modal-content h3 {
    padding: 10px;
    color: white;
    border-bottom: 2px solid white;
  }

  .inner-content-modal {
    display: flex;
    margin: 25px 40px 25px 40px;
    flex-direction: column;
  }

  .inner-content-modal input {
    margin: 20px 0;
    height: 40px;
    border-radius: 7px;
    border: 0;
    text-indent: 20px;
  }

  .inner-content-modal p {
    color: white;
    margin: 25px 0;
  }

  .inner-content-modal select {
    margin: 20px 0;
    height: 40px;
    border-radius: 7px;
    border: 0;
    text-indent: 20px;
  }

  .inner-content-modal input::placeholder {
    color: rgb(200, 192, 234);
  }

.button-modal-container {
    display: flex;
    justify-content: space-between;
}

.button-modal-container button {
  color: white;
  transition: all 0.3s ease-out;
}

.button-modal-container button:hover {
  color: rgb(36, 159, 207);
}

.li-liste-residence {
  height: 45px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(218, 218, 218);
}

.link-liste-residence {
  text-decoration: none;
  color: black;
  width: 400px;
  transition: all ease 0.3s;
}

.link-liste-residence:hover {
  color: rgb(36, 159, 207);
}

.li-liste-residence p {
  margin-left: 20px;
  width: 60px;
}

.li-liste-residence #delete {
  margin-left: 20px;
  padding: 0;
  display: flex;
}

.li-liste-residence #modifier {
  margin-left: 20px;
  padding: 0;
  cursor: pointer;
  width: 60px;
  transition: all ease 0.3s;
}

.li-liste-residence #modifier:hover {
  color: rgb(36, 159, 207);
}

#li-ajouter-residence {
  cursor: pointer;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(218, 218, 218);
  transition: all 0.3s ease-out;
}

#li-ajouter-residence:hover {
  color: rgb(36, 159, 207);
}

.error-message {
  color: rgb(184, 29, 29);
  font-weight: bold;
  font-style: italic;
  animation: shake 0.2s ease-in 0s;
}

.error-container {
  height: 30px;
}

.radio-faire input {
  accent-color: black;
}

.radio-faire svg {
  position: relative;
  top: 2px;
  margin-right: 10px;
}

.dontDisplay {
  display: none;
}

.contact-container {
  display: flex;
}

.contact-deco {
  width: 50%;
  height: 100%;
}

.retour-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.retour-container input {
  color: black;
  background-color: rgb(206, 206, 206);
  margin-top: 60px;
  border-radius: 30px;
  border: 0;
  width: 450px;
}

.retour-container input::placeholder {
  color: black;
  padding-left: 20px;
}

.retour-nom {
  height: 50px;
}

.retour-mail {
  height: 50px;
}

.retour-prob {
  height: 200px;
}

#retour-button {
  margin-top: 50px;
  width: 225px;
  height: 50px;
  background-color: rgb(36, 159, 207);
  color: white;
  border-radius: 30px;
}

@keyframes shake {
  0%,100% {
      transform: translate(0px);
  }
  25% {
      transform: translate(-5px);
  }
  50% {
      transform: translate(5px);
  }
  75% {
      transform: translate(-5px);
  }
}