.main-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

.form-addpiece input {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: 0;
    height: 40px;
    text-indent: 20px;
}

.form-addelement input {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: 0;
    height: 40px;
    text-indent: 20px;
}

.contain-input {
    border-radius: 7px;
    border: 2px solid rgb(46, 46, 46);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain-input button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 30px;
    border-left: 2px solid rgb(46, 46, 46);
    margin: 0;
    padding: 0 8px 0 8px;
}

.menu-container {
    border-bottom: 1px solid rgb(218, 218, 218);
    height: 60px;
    display: flex;
    align-items: center;
}

.right-arrow-select {
    padding: 0;
    width: 30px;
    height: 30px;
}

.select-fiche {
    margin-left: 30px;
    width: 250px;
    height: 30px;
    border: 2px solid black;
    border-radius: 7px;
}

#button-fiche-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.img-info {
    margin-left: 40px;
    height: 30px;
    width: 30px;
    animation: info 2s linear infinite;
}

.img-info:hover {
    cursor: pointer;
}

.img-save {
    height: 30px;
    width: 30px;
    margin-left: 25px;
    margin-right: 40px;
}

.img-save {
    cursor: pointer;
}

.toSave {
    animation: save 2s linear infinite;
}

.switch-content {
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
}

.switch-container {
    cursor: pointer;
    display: flex;
    width: 50px;
    height: 25px;
    background-color: rgb(181, 181, 181);
    align-items: center;
    border-radius: 12.5px;
    transition: all 0.4s;
    margin: 0 7px;
}

.container-toggle {
    cursor: pointer;
    display: flex;
    width: 50px;
    height: 25px;
    background-color: rgb(84, 202, 248);
    align-items: center;
    border-radius: 12.5px;
    transition: all 0.4s;
}

.switch-button {
    position: relative;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    transition: all 0.4s;
}

.switch-left {
    background-color: white;
    left: 5px;
}

.switch-right {
    left: 25px;
    background-color: rgb(36, 159, 207);    
}

.pasRempli {
    background-color: rgb(184, 184, 184);
}

.delete-piece {
    border: 0;
    background-color: transparent;
}

.delete-piece button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#delete-piece {
    height: 30px;
    width: 30px;
}

.fleches-gch {
    margin-left: auto;
    cursor: pointer;
    height: 20px;
}

.fleches-drt {
    margin-right: auto;
    cursor: pointer;
    height: 20px;
    transform: rotateY(180deg);
}

.download {
    height: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.info-url {
    font-size: small;
}

.remember {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

@keyframes info {
    0%,100% {
        scale: 1;
    }
    50% {
        scale: 1.1;
    }
}

@keyframes save {
    0%,8%,16%,24%,100% {
        rotate: 0deg;
    }
    2%,10%,18% {
        rotate: 10deg;
    }
    4%,12%,20% {
        rotate: 0deg;
    }
    6%,14%,22% {
        rotate: -10deg;
    }
}